<?xml version="1.0" encoding="UTF-8"?>
<!--
  <copyright file="CustomWelcomeDlg.wxs" company="Robpol86">
    Copyright (c) 2013, Robpol86
    This software is made available under the terms of the MIT License that can
    be found in the LICENSE.rtf file.
     
    Based on WelcomeDlg.wxs from Outercurve Foundation. Their copyright: 
        Copyright (c) 2004, Outercurve Foundation.
        This software is released under Microsoft Reciprocal License (MS-RL).
        The license and further copyright text can be found in the file
        WIXUILICENSE.TXT at the root directory of the distribution.
  </copyright>
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <PropertyRef Id="NETFRAMEWORK45" />
        <UI>
            <Dialog Id="CustomWelcomeDlg" Width="370" Height="270" Title="!(loc.WelcomeDlg_Title)">
                <!-- Bitmaps/Lines -->
                <Control Id="Bitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="234" TabSkip="no" Text="!(loc.WelcomeDlgBitmap)" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
                
                <!-- Title -->
                <Control Id="Title" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle)" Hidden="no">
                    <Condition Action="hide"><![CDATA[(VersionNT < 600)]]></Condition>
                    <Condition Action="hide">NOT NETFRAMEWORK45</Condition>
                </Control>
                <Control Id="OSErrorTitle" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle_OSError)" Hidden="yes">
                    <Condition Action="show"><![CDATA[(VersionNT < 600)]]></Condition>
                </Control>
                <Control Id="NETErrorTitle" Type="Text" X="135" Y="20" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgTitle_NETError)" Hidden="yes">
                    <Condition Action="show">NOT NETFRAMEWORK45 AND NOT <![CDATA[(VersionNT < 600)]]></Condition>
                </Control>
                
                <!-- Description -->
                <Control Id="Description" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription)" Hidden="no">
                    <Condition Action="hide">(Installed AND PATCH) OR <![CDATA[(VersionNT < 600)]]></Condition>
                    <Condition Action="hide">(Installed AND PATCH) OR NOT NETFRAMEWORK45</Condition>
                </Control>
                <Control Id="OSErrorDescription" Type="Text" X="135" Y="80" Width="220" Height="90" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription_OSError)" Hidden="yes">
                    <Condition Action="show">(NOT Installed OR NOT PATCH) AND <![CDATA[(VersionNT < 600)]]></Condition>
                </Control>
                <Control Id="NETErrorDescription" Type="Text" X="135" Y="80" Width="220" Height="90" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeDlgDescription_NETError)" Hidden="yes">
                    <Condition Action="show">(NOT Installed OR NOT PATCH) AND NOT NETFRAMEWORK45 AND NOT <![CDATA[(VersionNT < 600)]]></Condition>
                </Control>
                <Control Id="PatchDescription" Type="Text" X="135" Y="80" Width="220" Height="60" Transparent="yes" NoPrefix="yes" Text="!(loc.WelcomeUpdateDlgDescriptionUpdate)" Hidden="yes">
                    <Condition Action="show">Installed AND PATCH</Condition>
                </Control>
                
                <!-- Buttons -->
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Disabled="yes" Text="!(loc.WixUIBack)" />
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" >
                    <Publish Property="WixUI_InstallMode" Value="Update">Installed AND PATCH</Publish>
                    <Condition Action="disable"><![CDATA[(VersionNT < 600)]]></Condition>
                    <Condition Action="disable">NOT NETFRAMEWORK45</Condition>
                </Control>
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
                </Control>
            </Dialog>

            <InstallUISequence>
                <Show Dialog="CustomWelcomeDlg" Before="ProgressDlg" Overridable="yes">NOT Installed OR PATCH</Show>
            </InstallUISequence>
        </UI>
    </Fragment>
</Wix>
