<?xml version="1.0" encoding="UTF-8"?>
<!--
    Todo:
        * Test:
        ** Everythign with combos 32/64bit, xp, vista, 7, 8, 2003, 2003r2, 2008, 2008r2, 2012.
        ** Admin user, user with admin powers, normal user.
        ** No network, network stops during validation.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Definitions.wxi ?>
    <Product Id="$(var.GuidProduct)" Name="$(var.AssemblyProduct) $(var.VersionNumber)" Language="!(loc.LANG)"
             Version="$(var.VersionNumber)" Manufacturer="$(var.AssemblyCompany)" UpgradeCode="$(var.GuidUpgrade)">
        <Package Id="$(var.GuidPackage)" InstallerVersion="301" Compressed="yes" InstallScope="perMachine"
                 Keywords="!(loc.Keywords)" Description="$(var.AssemblyProduct)" Comments="$(var.AssemblyDescription)" />
        <MediaTemplate EmbedCab="yes" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Feature Id="Files" Title="Files"><ComponentGroupRef Id="Files" /></Feature>
        <Feature Id="Registry" Title="Registry"><ComponentGroupRef Id="Registry" /></Feature>
        <Feature Id="Service" Title="Service"><ComponentGroupRef Id="Service" /></Feature>
        <UIRef Id="CustomDialogSet" />

        <!-- Properties and Variables. -->
        <Property Id="ARPCOMMENTS" Value="$(var.AssemblyDescription)" />
        <Property Id="ARPHELPLINK" Value="https://github.com/Robpol86/UnofficialDDNS/wiki/" />
        <Property Id="ARPNOREPAIR" Value="1" /> <!-- Repair won't restore custom registry values. -->
        <Property Id="MSIFASTINSTALL" Value="1" /> <!-- Don't set a restore point in Win7 and up. -->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="REGISTRAR_REGISTRAR" Secure="yes">
            <RegistrySearch Id="Registrar" Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="raw" Name="Registrar" />
        </Property>
        <Property Id="REGISTRAR_USER" Secure="yes" Hidden="yes">
            <RegistrySearch Id="Username" Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="raw" Name="Username" />
        </Property>
        <Property Id="REGISTRAR_TOKEN" Secure="yes" Hidden="yes">
            <RegistrySearch Id="ApiToken" Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="raw" Name="ApiToken" />
        </Property>
        <Property Id="REGISTRAR_DOMAIN" Secure="yes">
            <RegistrySearch Id="Domain" Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="raw" Name="Domain" />
        </Property>
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="UnofficialDDNS" />
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="Files" Directory="INSTALLDIR">
            <Component Id="QueryDLL" Guid="$(var.GuidQueryDLL)">
                <File Id="QueryDLL" Checksum="yes" KeyPath="yes" Source="$(var.UDDNSQuery.TargetPath)" />
            </Component>
            <Component Id="JSONnetDll" Guid="$(var.GuidJSONnetDll)">
                <File Id="JSONnetDll" Checksum="yes" KeyPath="yes" Source="$(var.UDDNSQuery.TargetDir)\Newtonsoft.Json.dll" />
            </Component>
        </ComponentGroup>
        <ComponentGroup Id="Registry" Directory="INSTALLDIR">
            <Component Id="RegistryEntries" Guid="$(var.GuidRegistryEntries)">
                <RegistryKey Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Action="createAndRemoveOnUninstall" />
                <Registry Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="string" Name="Registrar" Value="[REGISTRAR_REGISTRAR]" />
                <Registry Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="string" Name="Username" Value="[REGISTRAR_USER]" />
                <Registry Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="string" Name="ApiToken" Value="[REGISTRAR_TOKEN]" />
                <Registry Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="string" Name="Domain" Value="[REGISTRAR_DOMAIN]" />
                <Registry Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="integer" Name="Interval" Value="1400" />
                <Registry Root="HKLM" Key="SOFTWARE\UnofficialDDNS" Type="integer" Name="Debug" Value="0" />
            </Component>
        </ComponentGroup>
        <ComponentGroup Id="Service" Directory="INSTALLDIR">
            <Component Id="Service" Guid="$(var.GuidService)">
                <File Id="MainExe" Checksum="yes" KeyPath="yes" Source="$(var.UnofficialDDNS.TargetPath)" />
                <ServiceInstall Id="ServiceInstaller" Type="ownProcess" Account="[SERVICEACCOUNT]"
                                Password="[SERVICEPASSWORD]" Description="$(var.AssemblyDescription)"
                                DisplayName="$(var.AssemblyProduct) $(var.VersionNumber)" ErrorControl="normal"
                                Name="$(var.AssemblyProduct)" Vital="yes" Start="auto" />
                <ServiceControl Id="ServiceStart" Name="$(var.AssemblyProduct)" Remove="uninstall" Start="install"
                                Stop="both" Wait="yes" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>