<?xml version="1.0" encoding="UTF-8"?>
<!--
    Todo:
        * Ask user if this should install for All Users or current user.
        ** Check what happens if user changes password if current user is selected.
        * Make uninstall ask if user is sure.
        * The directory browser is ugly, fix it.
        * Use modern icons.
        * Revision number should be whole VersionNumber.
        * Detect if already installed.
        * Fix norestorepoint.
        
        * Test:
        ** Everythign with combos 32/64bit, xp, vista, 7, 8, 2003, 2003r2, 2008, 2008r2, 2012.
        ** Admin user, user with admin powers, normal user.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?include Definitions.wxi ?>
	<Product Id="*" Name="!(loc.ProductName) $(var.VersionNumber)" Language="!(loc.LANG)" Version="$(var.VersionNumber)" 
             Manufacturer="Robpol86" UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" Keywords="!(loc.Keywords)" 
                 Description="!(loc.Description)" Comments="!(loc.Comments)" />
        <MediaTemplate EmbedCab="yes" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<Feature Id="ProductFeature" Title="UnofficialDDNS" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
        <UIRef Id="CustomDialogSet" />

        <!-- Properties and Variables. -->
        <Property Id="MSIFASTINSTALL" Value="1" /> <!-- Don't set a restore point in Win7 and up. -->
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="UnofficialDDNS" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLDIR">
			<Component Id="ProductComponent">
                <File Id="UnofficialDDNSExe" Name="UnofficialDDNS.exe"
                      Source="../UnofficialDDNS/bin/Debug/UnofficialDDNS.exe" KeyPath="yes" />
            </Component>
            <Component Id="JSONnetDll">
                <File Id="NewtonsoftJsonDll" Name="Newtonsoft.Json.dll"
                      Source="../UnofficialDDNS/bin/Debug/Newtonsoft.Json.dll" KeyPath="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>